{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'account/css/styles.css' %}">
</head>
<body>
  <div class="login-container">
    <div class="left">
      <form class="login-form" method="POST">
        {% csrf_token %}
      <h2>Login</h2>
          {% if error %}
     <p class="error-message">{{ error }}</p>
    {% endif %}
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    </div>
    <div class="right">
      <img src="{% static "account/img/logo.jpg" %}" alt="Dallol Bingo" class="img-logo">
    </div>
  </div>
</body>
</html>
