{% load static%}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pick Card</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kalam&display=swap">
  <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
  <script src="{% static 'game/js/jquery-3.7.1.min.js' %}"></script>
</head>
<body>
    <header>
      <div class="wallet">
        <i class="fa-solid fa-wallet"></i>
        <span class="amount">{{acc.wallet}}</span>
      </div>
      <div>
        <span>Dallol Bingo</span>
      </div>
      <div class="timer">
        <i class="fa-regular fa-clock"></i>
        <span class="amount" id="timer">60</span>
      </div>
    </header>
    <div id="gameid" style="display:none;">{{gameid}}</div>
    <div class="secound-container" >
      <div class="container">
        <table>
        <thead>
            <th>Game</th>
            <th>Satke</th>
            <th>Players</th>
            <th>Win</th>
        </thead>
        <tbody>
            <tr id="game-stat">
                <td>1</td>
                <td>10</td>
                <td>5</td>
                <td>50</td>
            </tr>
        </tbody>
        </table>
        <div class="row" id="buttons-container">
          <!-- Buttons will be inserted here -->
        </div>
        <div id="bingo-table-container">

        </div>
        <div class="row mt-3">
          <div class="col-4 text-center">
            <button id="prev-btn" class="btn custom-btn-action">Previous</button>
          </div>
            <div class="col-4 text-center">
              <button id="play-btn" class="btn custom-btn-action">Play</button>
            </div>
          <div class="col-4 text-center">
            <button id="next-btn" class="btn custom-btn-action">Next</button>
          </div>
        </div>
      </div>
      <footer>
        <p>&copy; 2024 Dallol Technologies</p>
      </footer>
    </div>
  <script src="{% static 'game/js/script.js' %}"></script>
  <script src="https://kit.fontawesome.com/24a72a6d2d.js" crossorigin="anonymous"></script>
  
</body>
</html>
